# Node.js test/.eslint from commit 08039628 with the following changes:
# - Comment out custom require-buffer and required-modules rules
## Test-specific linter rules

rules:
  ## allow undeclared variables
  no-undef: 0
  ## 2 space indentation
  indent: [2, 2, {"VariableDeclarator": 2}]
  ## allow global Buffer usage
  #require-buffer: 0
  ## common module is mandatory in tests
  #required-modules: [2, "common"]

globals:
  gc: false
